export PATH=$PWD/.bin:$PATH

export TF_VAR_transip_private_key=$(security find-generic-password -l transip-aequitas -w|xxd -p -r| plutil -extract "NOTE" xml1 -o - - | xmllint --xpath '//string/text()' -)
